<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Microposts</a>
      <ul class="nav">
        <li class="{{activeRouteClass 'home' 'newPosts'}}">
          <a href="{{newPostsPath}}">New</a>
        </li>
        <li class="{{activeRouteClass 'bestPosts'}}">
          <a href="{{bestPostsPath}}">Best</a></li>
        {{#if currentUser}}
          <li class="{{activeRouteClass 'postNew'}}">
            <a href="{{postNewPath}}">Submit Post</a>
          </li>
        {{/if}}
        <li class="dropdown">
          {{> notifications}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </header>
</template>